.body {
  background-color: rgb(245, 243, 243);
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 15px; /* Atas, bawah, kiri, kanan */
}

.image-container img {
  width: 300px;
  height: 300px;
  transition: opacity 0.3s ease-in-out;
  margin-right: 5px; /* Margin antara gambar */
  margin-top: 5px;
  cursor: pointer;
}

.image-container:hover img {
  opacity: 0;
}

.image-container:hover img:hover {
  opacity: 1;
}

.image-container img:hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.bold {
  font-weight: bold;
}

p,
h2 {
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
}
.mengikuti-class-p {
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
}
